# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db